name: Workflow Linter

on:
  workflow_call:
    inputs:
      tools:
        description: "Comma-separated list of tools to run (e.g. actionlint,zizmor)"
        required: true
        type: string
    secrets:
      token:
        description: "Use { secrets.GITHUB_TOKEN }"
        required: true

jobs:
  actionlint:
    runs-on: ubuntu-latest
    if: contains( inputs.tools, 'actionlint')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          token: ${{ secrets.token }}

      - name: Cache actionlint binary
        id: cache-actionlint
        uses: actions/cache@v4
        with:
          path: ~/go/bin/actionlint
          key: actionlint-${{ runner.os }}

      - name: Install actionlint
        if: steps.cache-actionlint.outputs.cache-hit != 'true'
        run: go install github.com/rhysd/actionlint/cmd/actionlint@latest

      - name: Run actionlint
        run: ~/go/bin/actionlint

  zizmor:
    runs-on: ubuntu-latest
    if: contains( inputs.tools, 'zizmor')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          token: ${{ secrets.token }}

      - name: Run Zizmor
        uses: zizmorcore/zizmor-action@v0.3.0
        with:
          advanced-security: false
          online-audits: false
